* {
  margin: 0;
  padding: 0; }

html {
  height: calc(100% - 40px);
  width: calc(100% - 160px);
  padding: 20px 80px 10px 80px; }

body {
  height: 100%;
  width: 100%;
  font-family: "Open Sans", sans-serif; }

html, body {
  background-color: #F6FAE7; }

#title {
  color: #933600;
  font-size: 40px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  float: left; }

#header {
  height: 100px;
  width: 100%; }

#main {
  height: calc(100% - 30px - 100px - 10px);
  /*window height - margin-top - margin-bottom - header height - padding*/
  width: 100%; }

#framer {
  float: left;
  position: relative;
  width: 0px;
  height: 0px;
  background-image: linear-gradient(to bottom right, #FF4900, #FF4900 11.1%, transparent 11.1%, transparent), linear-gradient(to top left, #FF4900, #FF4900 11.1%, transparent 11.1%, transparent);
  background-size: calc(0.826 * 100%) calc(0.826 * 100%);
  background-position: top left, bottom right; }

#container {
  height: calc(100% - 8px);
  width: calc(100% - 8px);
  position: relative;
  left: 4px;
  top: 4px;
  background-color: #F6FAE7;
  cursor: pointer; }
  #container p {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #FF4900;
    font-size: 12px;
    font-weight: 600; }

#menu li {
  float: right;
  color: #FF4900;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  margin-top: 20px;
  margin-left: 24px;
  list-style: none; }
  #menu li div {
    position: relative;
    height: 7px;
    border-radius: 7px;
    top: 10px;
    background-color: transparent;
    cursor: default;
    -webkit-transition: top 0.05s, background-color 0.05s;
    -webkit-transition-timing-function: linear; }
  #menu li p {
    cursor: pointer; }
  #menu li p:hover {
    color: #FA7641; }
  #menu li p:hover + div {
    top: 3px !important;
    background-color: #FF4900 !important; }

#bars3 {
  /*a scaled settings size of 7 wide, 6 tall looks very attractive*/
  /* Exactly equal spacings and fillings for bars*/
  top: 7px;
  height: 42px;
  width: 40px;
  position: relative;
  background-image: linear-gradient(transparent, transparent 50%, #362F0B 33%, #362F0B 50%);
  background-size: 12px 12px;
  float: right; }

#settings {
  float: right;
  height: 100%;
  padding-top: 30px;
  opacity: 1;
  -webkit-transition: opacity 0.1s;
  -webkit-transition-timing-function: linear; }

#manual {
  height: 100%;
  width: 100%; }
  #manual p {
    color: #933600;
    font-size: 18px; }
  #manual div {
    width: 100%;
    height: calc(13%);
    clear: both; }
    #manual div p {
      float: left;
      font-family: "Open Sans", sans-serif;
      font-size: 20px;
      font-weight: bold;
      margin-top: -6px;
      color: #933600; }
    #manual div .bar {
      -webkit-appearance: none !important;
      appearance: none !important;
      -webkit-user-select: none !important;
      outline: none !important;
      width: calc(80% - 65px);
      height: 15px;
      background-color: #FF4900;
      height: 15px;
      border-radius: 5px;
      float: right; }
    #manual div .bar::-webkit-slider-thumb {
      -webkit-appearance: none !important;
      appearance: none !important;
      -webkit-user-select: none !important;
      outline: none !important;
      position: relative;
      width: 18px;
      height: 30px;
      border: 3px solid #F6FAE7;
      border-radius: 5px;
      cursor: pointer;
      shadow: none; }
  #manual div:nth-child(1) .bar {
    background-color: #FF4900; }
  #manual div:nth-child(1) .bar::-webkit-slider-thumb {
    background-color: #FF4900; }
  #manual div:nth-child(1) .bar-io {
    color: #FF4900; }
  #manual div:nth-child(2) .bar {
    background-color: #14CC46; }
  #manual div:nth-child(2) .bar::-webkit-slider-thumb {
    background-color: #14CC46; }
  #manual div:nth-child(2) .bar-io {
    color: #14CC46; }
  #manual div:nth-child(3) .bar {
    background-color: #40C0DD; }
  #manual div:nth-child(3) .bar::-webkit-slider-thumb {
    background-color: #40C0DD; }
  #manual div:nth-child(3) .bar-io {
    color: #40C0DD; }
  #manual div:nth-child(4) .bar {
    background-color: #9D7C12; }
  #manual div:nth-child(4) .bar::-webkit-slider-thumb {
    background-color: #9D7C12; }
  #manual div:nth-child(4) .bar-io {
    color: #9D7C12; }
  #manual div:nth-child(5) .bar {
    background-color: #9D121E; }
  #manual div:nth-child(5) .bar::-webkit-slider-thumb {
    background-color: #9D121E; }
  #manual div:nth-child(5) .bar-io {
    color: #9D121E; }
  #manual div:nth-child(6) .bar {
    background-color: #914F9D; }
  #manual div:nth-child(6) .bar::-webkit-slider-thumb {
    background-color: #914F9D; }
  #manual div:nth-child(6) .bar-io {
    color: #914F9D; }
  #manual .bar-io {
    -webkit-appearance: none !important;
    appearance: none !important;
    -webkit-user-select: none !important;
    outline: none !important;
    background-color: #F6FAE7;
    border: 2px dashed;
    float: right;
    position: relative;
    bottom: 5px;
    text-align: right;
    height: 30px;
    width: 65px;
    margin-left: 10px;
    padding-right: 5px;
    font-weight: 600;
    font-size: 18px; }

#animation {
  height: 100%;
  width: 100%; }
  #animation p {
    color: #933600;
    font-size: 16px; }
  #animation div {
    width: 100%;
    height: calc(13%);
    clear: both; }
    #animation div p {
      float: left;
      font-family: "Open Sans", sans-serif;
      font-size: 20px;
      font-weight: bold;
      margin-top: -6px;
      color: #933600; }
    #animation div .bar {
      -webkit-appearance: none !important;
      appearance: none !important;
      -webkit-user-select: none !important;
      outline: none !important;
      width: calc(80% - 45px);
      height: 15px;
      background-color: #FF4900;
      border-radius: 5px;
      float: right; }
    #animation div .bar::-webkit-slider-thumb {
      -webkit-appearance: none !important;
      appearance: none !important;
      -webkit-user-select: none !important;
      outline: none !important;
      position: relative;
      width: 18px;
      height: 30px;
      border: 3px solid #F6FAE7;
      border-radius: 5px;
      cursor: pointer;
      shadow: none; }
  #animation div:nth-child(1) .bar {
    background-color: #FF4900; }
  #animation div:nth-child(1) .bar::-webkit-slider-thumb {
    background-color: #FF4900; }
  #animation div:nth-child(1) .bar-io {
    color: #FF4900;
    border-color: #FF4900; }
  #animation div:nth-child(2) .bar {
    background-color: #14CC46; }
  #animation div:nth-child(2) .bar::-webkit-slider-thumb {
    background-color: #14CC46; }
  #animation div:nth-child(2) .bar-io {
    color: #14CC46;
    border-color: #14CC46; }
  #animation div:nth-child(3) .bar {
    background-color: #40C0DD; }
  #animation div:nth-child(3) .bar::-webkit-slider-thumb {
    background-color: #40C0DD; }
  #animation div:nth-child(3) .bar-io {
    color: #40C0DD;
    border-color: #40C0DD; }
  #animation div:nth-child(4) .bar {
    background-color: #9D7C12; }
  #animation div:nth-child(4) .bar::-webkit-slider-thumb {
    background-color: #9D7C12; }
  #animation div:nth-child(4) .bar-io {
    color: #9D7C12;
    border-color: #9D7C12; }
  #animation div:nth-child(5) .bar {
    background-color: #9D121E; }
  #animation div:nth-child(5) .bar::-webkit-slider-thumb {
    background-color: #9D121E; }
  #animation div:nth-child(5) .bar-io {
    color: #9D121E;
    border-color: #9D121E; }
  #animation div:nth-child(6) .bar {
    background-color: #914F9D; }
  #animation div:nth-child(6) .bar::-webkit-slider-thumb {
    background-color: #914F9D; }
  #animation div:nth-child(6) .bar-io {
    color: #914F9D;
    border-color: #914F9D; }
  #animation .bar-io {
    -webkit-appearance: none !important;
    appearance: none !important;
    -webkit-user-select: none !important;
    outline: none !important;
    background-color: #F6FAE7;
    border: 2px dashed;
    float: right;
    position: relative;
    bottom: 5px;
    text-align: right;
    height: 30px;
    width: 45px;
    margin-left: 10px;
    padding-right: 5px;
    font-weight: 600;
    font-size: 18px; }

#about h2 {
  color: #FF4900;
  margin-top: 30px; }
#about p {
  color: #933600;
  font-size: 16px;
  font-weight: 600; }

#soon h1 {
  color: #FF4900;
  margin-left: 20%;
  margin-top: 20%; }

/*# sourceMappingURL=index.css.map */
