* {
  margin: 0;
  padding: 0; }

html {
  padding: 20px 7% 10px 7%; }

body {
  height: 100%;
  width: 100%; }

html, body {
  background-color: #F6FAE7; }

#title {
  color: #933600;
  font-size: 40px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  float: left; }

#header {
  height: 100px;
  width: 100%; }

#main {
  margin-top: 20px;
  height: calc(100% - 30px - 100px - 10px);
  /*window height - margin-top - margin-bottom - header height - padding*/
  width: 100%;
  position: relative; }

#framer {
  float: left;
  height: 100%;
  /*width: Defined by javascript*/
  background-image: linear-gradient(to bottom right, #FF4900, #FF4900 11.1%, transparent 11.1%, transparent), linear-gradient(to top left, #FF4900, #FF4900 11.1%, transparent 11.1%, transparent);
  background-size: calc(0.826 * 100%) calc(0.826 * 100%);
  background-position: top left, bottom right;
  /*border: 3px solid red;*/ }

#container {
  height: calc(100% - 6px);
  width: calc(100% - 6px);
  left: 3;
  top: 3;
  /*overflow: visible;*/
  position: relative;
  background-color: #F6FAE7;
  /*background-color: transparent;*/
  /*border: 3px solid blue;*/
  /*-webkit-transition-property: all;
  -webkit-transition-duration: 2s;
  -webkit-transition-timing-function: linear;*/ }

#menu li {
  float: right;
  color: #FF4900;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  margin-top: 20px;
  margin-left: 24px; }

#menu li div {
  position: relative;
  height: 7px;
  border-radius: 7px;
  top: 10px;
  background-color: transparent;
  cursor: default;
  -webkit-transition: top 0.05s, background-color 0.05s;
  -webkit-transition-timing-function: linear; }

#menu li p {
  cursor: pointer; }

#menu li p:hover + div {
  top: 3px;
  background-color: #FF4900; }

#menu li p:hover {
  color: #FA7641; }

#bars3 {
  /*a scaled settings size of 7 wide, 6 tall looks very attractive*/
  /* Exactly equal spacings and fillings for bars*/
  top: 7px;
  height: 42px;
  width: 40px;
  position: relative;
  background-image: linear-gradient(transparent, transparent 50%, #362F0B 33%, #362F0B 50%);
  background-size: 12px 12px;
  float: right; }

#settings {
  box-sizing: border-box;
  float: right;
  height: 100%;
  width: 1%;
  border: 2px solid black; }

#slider {
  -webkit-appearance: none !important;
  appearance: none !important;
  -webkit-user-select: none !important;
  -webkit-shadow: none !important;
  box-shadow: none !important;
  border: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none !important;
  outline: none !important;
  width: calc(100% - 50px);
  height: 20px;
  position: relative;
  background: #FF4900; }

#slider .bar {
  -webkit-appearance: none !important;
  appearance: none !important;
  -webkit-user-select: none !important;
  -webkit-shadow: none !important;
  box-shadow: none !important;
  border: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none !important;
  outline: none !important;
  width: 388px;
  height: 5px;
  background: #333;
  position: relative;
  top: -4px;
  left: 4px; }

#slider .bar:focus {
  -webkit-appearance: none !important;
  appearance: none !important;
  -webkit-user-select: none !important;
  -webkit-shadow: none !important;
  box-shadow: none !important;
  border: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none !important;
  outline: none !important; }

output {
  -webkit-appearance: none !important;
  appearance: none !important;
  -webkit-user-select: none !important;
  -webkit-shadow: none !important;
  box-shadow: none !important;
  border: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none !important;
  outline: none !important; }

input[type="range"] {
  -webkit-appearance: none;
  background-color: black;
  height: 2px;
  shadow: none;
  -webkit-appearance: none !important;
  appearance: none !important;
  -webkit-user-select: none !important;
  -webkit-shadow: none !important;
  box-shadow: none !important;
  border: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none !important;
  outline: none !important; }

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  appearance: none !important;
  -webkit-user-select: none !important;
  -webkit-shadow: none !important;
  box-shadow: none !important;
  border: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none !important;
  outline: none !important;
  position: relative;
  top: 0px;
  z-index: 1;
  width: 11px;
  height: 11px;
  cursor: pointer;
  shadow: none;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ebf1f6), color-stop(50%, #abd3ee), color-stop(51%, #89c3eb), color-stop(100%, #d5ebfb)); }

/*# sourceMappingURL=index.css.map */
