$bgcolor: #F6FAE7;
// FFDCAC
$txtcolor: #FF4900;

$fntfamily: 'Open Sans', sans-serif;

// REMEMBER FONT POSSIBILITY: PT SANS (HAML)

*{
    margin: 0;
    padding: 0;
}

html {
    padding: 20px 7% 10px 7%;
}

body {
    height: 100%;
    width: 100%;
    font-family: $fntfamily;
}

html, body{
    background-color: $bgcolor;
}

#title {
    color: #933600;
    font-size: 40px;
    font-family: $fntfamily;
    font-weight: 700;
    float: left;
}

#header {
    height: 100px;
    width: 100%;
}

#main {
    margin-top: 20px;
    height: calc(100% - 30px - 100px - 10px);
    /*window height - margin-top - margin-bottom - header height - padding*/
    width: 100%;
    position: relative;
}

#framer {
    // Framer goes around container. Framer's background results in the framed-photo-style border around container
    float: left;
    height: 100%;
    /*width: Defined by javascript*/
    background-image:   linear-gradient(to bottom right, $txtcolor, $txtcolor 11.1%, transparent 11.1%, transparent),
                        linear-gradient(to top left, $txtcolor, $txtcolor 11.1%, transparent 11.1%, transparent);
    background-size: calc(0.826 * 100%) calc(0.826 * 100%);
    background-position: top left, bottom right;
}

#container {
    height: calc(100% - 8px);
    width: calc(100% - 8px);
    left: 4;
    top: 4;
    position: relative;
    background-color: $bgcolor;
}

#menu li{
    float: right;
    color: $txtcolor;
    font-size: 18px;
    font-family: $fntfamily;
    font-weight: 600;
    margin-top: 20px;
    margin-left: 24px;

    div{
        position: relative;
        height: 7px;
        border-radius: 7px;
        top: 10px;
        background-color: transparent;
        cursor: default;

        -webkit-transition: top 0.03s, background-color 0.03s;
        -webkit-transition-timing-function: linear;
    }

    p { cursor: pointer; }

    p:hover{ color: #FA7641; }

    p:hover + div {
        top: 3px;
        background-color: $txtcolor;
    }
}

#bars3 {
    /*a scaled settings size of 7 wide, 6 tall looks very attractive*/
    /* Exactly equal spacings and fillings for bars*/
    // Only for mobile version
    top: 7px;
    height: 42px;
    width: 40px;
    position:relative;
    background-image: linear-gradient(transparent, transparent 50%, #362F0B 33%, #362F0B 50%);
    background-size: 12px 12px;
    float: right;
}

#settings {
    box-sizing: border-box;
    float: right;
    height: 100%;
    padding-top: 30px;
    // padding-left: 60px;
    // border: 2px solid black;
}

@mixin fuck_sliders{
    -webkit-appearance: none !important;
    appearance: none !important;
    -webkit-user-select: none !important;
    // -webkit-shadow: none !important;
    // box-shadow: none !important;
    // border: none !important;
    // -moz-box-shadow: none !important;
    // -webkit-box-shadow: none !important;
    // box-shadow: none !important;
    // border: none !important;
    outline: none !important;
    // margin-top: 0px !important;
    // padding: 0px !important;
    // border: none !important;
}

#settings div .bar {
    @include fuck_sliders;
	// width: calc(100% - 150px);
    width: calc(100% - 250px);
	height: 15px;
	// position: relative;

    background-color: $txtcolor;
    height: 15px;
    border-radius: 5px;

    // margin-bottom: 50px;
    float: left;
}

#settings div{
    width: 100%;
    margin-bottom: 10%;
    height: 1px;
    // float: right;
    clear: both;
}

.bar::-webkit-slider-thumb {
    @include fuck_sliders;
	position: relative;
    // float: right;
    bottom: 2px;
	width: 15px;
	height: 25px;

    background-color: #933600;
    border-radius: 5px;
	cursor: pointer;
    shadow: none;
}

#settings p{

}

output {
    float: right;
    position: relative;
    bottom: 5px;
    right: 5px;
    // @include fuck_sliders;
    font-weight: 600;
    font-size: 18px;
    color: #933600;
}
