$bgcolor: #F6FAE7;
$txtcolor: #FF4900;
$impcolor: #933600;
$loop: zip($txtcolor #14CC46 #40C0DD #9D7C12 #9D121E #914F9D, 1 2 3 4 5 6);

$fntfamily: 'Open Sans', sans-serif;

// REMEMBER FONT POSSIBILITY: PT SANS (HAML)

// BASE DESKTOP SITE
*{
    margin: 0;
    padding: 0;
}

html {
    height: calc(100% - 40px);
    width: calc(100% - 160px);
    padding: 20px 80px 10px 80px;
    // box-sizing: border-box;
    // height: 100%;
    // width: 100%;
    min-width: 650px;
    min-height: 530px;
}

body {
    height: 100%;
    width: 100%;
    font-family: $fntfamily;
    min-width: 650px;
    min-height: 530px;
    // position: relative;
}
//
html, body{
    background-color: $bgcolor;
}

#title {
    color: #933600;
    font-size: 40px;
    font-family: $fntfamily;
    font-weight: 700;
    float: left;
}

#header {
    opacity: 1;
    display:block;
    -webkit-transition: opacity 0.1s, display 0.1s;
    -moz-transition: opacity 0.1s, display 0.1s;
    height: 100px;
    width: 100%;
}

#main {
    height: calc(100% - 30px - 100px - 10px);
    // height: 100%;
    /*window height - margin-top - margin-bottom - header height - padding*/
    // width: calc(100% - 160px);
    // position: absolute;
    width: 100%;
    // box-sizing: border-box;
}

#framer {
    // Framer goes around container. Framer's background results in the framed-photo-style border around container
    float: left;
    position: absolute;
    top: 130px;
    width: 0px;
    height: 0px;
    // width, height are defined in js based on main.width, main.height
    background-image:   linear-gradient(to bottom right, $txtcolor, $txtcolor 11.1%, transparent 11.1%, transparent),
                        linear-gradient(to top left, $txtcolor, $txtcolor 11.1%, transparent 11.1%, transparent);
    background-size: calc(0.826 * 100%) calc(0.826 * 100%);
    background-position: top left, bottom right;
}

#container {
    height: calc(100% - 8px);
    width: calc(100% - 8px);
    position: relative;
    left: 4px;
    top: 4px;
    background-color: $bgcolor;
    cursor: pointer;

    p {
        position: absolute;
        bottom: 10px;
        left: 10px;
        color: $txtcolor;
        font-size: 12px;
        font-weight: 600;
    }

    button {
        position: absolute;
        bottom: 10px;
        right: 10px;
        height: 25px;
        width: 40px;
        font-size : 11px;
        font-family: $fntfamily;
        background-color: $bgcolor;
        color: $txtcolor;
        border: 3px solid $txtcolor;
        border-radius: 3px;
        cursor: pointer;
        font-weight: 600;
        outline: none;
    }
}

#menu li{
    float: right;
    color: $txtcolor;
    font-size: 17px;
    font-family: $fntfamily;
    font-weight: 600;
    margin-top: 20px;
    margin-left: 24px;
    list-style: none;

    div{
        position: relative;
        height: 7px;
        border-radius: 7px;
        top: 10px;
        background-color: transparent;
        cursor: default;
        -webkit-transition: top 0.05s, background-color 0.05s;
        -webkit-transition-timing-function: linear;
        -moz-transition: top 0.05s, background-color 0.05s;
        -moz-transition-timing-function: linear;
    }

    p { cursor: pointer; }

    p:hover{ color: #FA7641; }

    p:hover + div {
        // The div fades in a few pixels under the name, then rises to underline it
        // I need the important or the js will overrule it once its changed and the js css is embedded
        top: 3px !important;
        background-color: $txtcolor !important;
    }
}

#bars3 {
    /*a scaled settings size of 7 wide, 6 tall looks very attractive*/
    /* Exactly equal spacings and fillings for bars*/
    // Only for mobile version
    top: 7px;
    height: 42px;
    width: 40px;
    position:relative;
    background-image: linear-gradient(transparent, transparent 50%, #362F0B 33%, #362F0B 50%);
    background-size: 12px 12px;
    float: right;
}



// BASE SETTINGS
#settings {
    float: right;
    // right: 0px;
    // top: 120px;
    height: 100%;
    padding-top: 30px;
    // position: absolute;
    opacity: 1;
    -webkit-transition: opacity 0.1s;
    -webkit-transition-timing-function: linear;
    -moz-transition: opacity 0.1s;
    -moz-transition-timing-function: linear;
}


// MANUAL
@mixin fuck_sliders{
    // Sliders are fucking annoying sometimes
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    outline: none !important;
}

#manual {
    height: 100%;
    width: 100%;

    p {
        color: $impcolor;
        font-size: 18px;
        font-weight: 600;
    }


    div{
        width: 100%;
        height: calc(13%);
        clear: both;

        p {
            float: left;
            font-family: $fntfamily;
            font-size: 20px;
            font-weight: bold;
            margin-top: -6px;
            color: $impcolor;
        }

        .bar {
            @include fuck_sliders;
            width: calc(80% - 65px);
        	height: 15px;
            background-color: $txtcolor;
            height: 15px;
            border-radius: 5px;
            -moz-border-radius: 5px;
            float: right;
        }

        // .bar::-webkit-slider-thumb,
        .bar::-moz-range-thumb {
            @include fuck_sliders;
            -moz-appearance: none;
        	position: relative;
            // background-color: red;
        	width: 18px;
        	height: 30px;
            border: 3px solid $bgcolor;
            border-radius: 5px;
        	cursor: pointer;
            shadow: none;
        }

        .bar::-webkit-slider-thumb {
            @include fuck_sliders;
            -moz-appearance: none;
        	position: relative;
            // background-color: red;
        	width: 18px;
        	height: 30px;
            border: 3px solid $bgcolor;
            border-radius: 5px;
        	cursor: pointer;
            shadow: none;
        }

        .bar::-moz-focus-outer {
            @include fuck_sliders;
            border: none;
        }

        .bar::-moz-range-track{
            @include fuck_sliders;
            -moz-appearance: none !important;
            height: 0px;
        }
    }

    //Loops through and assigns each bar and output its correct color
    @each $color, $num in $loop{
        div:nth-child(#{$num}) {
            .bar{ background-color: $color; }
            .bar::-webkit-slider-thumb {background-color: $color; }
            .bar::-moz-range-thumb {background-color: $color; }
            .bar-io { color: $color; }
        }
    }

    .bar-io {
        @include fuck_sliders;
        background-color: $bgcolor;
        // color: $txtcolor;

        border: 2px dashed;
        float: right;
        position: relative;

        bottom: 10px;
        text-align: right;
        height: 30px;
        width: 65px;
        margin-left: 10px;
        padding-right: 5px;
        font-weight: 600;
        font-size: 18px;
    }
}

// ANIMATION (MAKE THIS BETTER, SASSTEAL THE CODE FROM MANUAL)
#animation {
    @extend #manual;

    p {
        font-size: 16px;
    }
}

// ABOUT
#about {
    h2 {
        color: $txtcolor;
        margin-top: 30px;
    }

    p {
        color: $impcolor;
        font-size: 16px;
        font-weight: 600;
    }
}

// SOON
#soon {
    h1 {
        color: $txtcolor;
        margin-left: 20%;
        margin-top: 20%;
    }
}

// POINTS
#points{
    height: 100%;
    width: 100%;
    #stored_points{
        // border: 2px solid green;
        width: calc(100% - 160px);
        float: right;
        height: 100%;

        p{
            margin: 0;
            font-size: 16px;
            color: $txtcolor;
            width: 150px !important;
        }
    }

    #edge_input{
        // border: 2px solid black;
        vertical-align: top;
        height: 100%;
        width: 130px;
        float: left;

        #point_input{
            // border: 2px solid red;
            margin-bottom: 20px;
            width: 100%;
            vertical-align: top;
            position: relative;
            // top: -40px;
            p {
                margin-top: 0px;
            }
        }

        input{
            border: 3px dashed;
            color: $txtcolor;
            font-family: $fntfamily;
            font-weight: 600;
            padding: 0px 10px;
            background-color: $bgcolor;
            border-color: $impcolor;
            outline: none;
            height: 30px;
            width: 100px;
            font-size: 16px;
            margin-top: 10px;
            display: block;
        }
    }
    p {
        margin-top: 40px;
        color: $impcolor;
        font-size: 13px;
        font-weight: 600;
        width: 130px;
        // height: 100px;
    }

    button {
        font-size: 11px;
        height: 25px;
        // padding-left: 5px 5px 5px 5px;
        padding: 0px 5px;
        font-family: $fntfamily;
        font-weight: 600;
        border-radius: 3px;
        border: 3px solid $txtcolor;
        background-color: $bgcolor;
        color: $txtcolor;
        outline: none;
        cursor: pointer;
        margin-top: 10px;
    }
}

// FULL
#full {
    button {
        right: 20px;
        top: calc(50% - 15px);
        position: absolute;
        font-size: 18px;
        height: 30px;
        width: 85px;
        // padding-left: 5px 5px 5px 5px;
        // padding: 0px 5px;
        font-family: $fntfamily;
        font-weight: 600;
        border-radius: 3px;
        border: 3px solid $txtcolor;
        background-color: $bgcolor;
        color: $txtcolor;
        outline: none;
        cursor: pointer;
        // margin-top: 10px;
    }
}

#options {
    top: -30px;
    position: relative;
    .option_text {
        margin-top: 20px;
        display: block;
        @include fuck_sliders;
        background-color: $bgcolor;

        border: 3px dashed;
        border-color: $impcolor;
        color: $txtcolor;
        position: relative;
        padding-left: 8px;

        height: 30px;
        width: 150px;
        font-weight: 600;
        font-size: 18px;
    }
    #yes {
        position: relative;
        top: 20px;
        // width: 10px;
        // height: 10px;
        // outline: none;
        // background-color: $bgcolor;
        // border: 2px solid $txtcolor !important;
    }

    label {
        position: relative;
        top: 20px;
        color: $impcolor;
        font-size: 18px;
        font-weight: 600;
        font-family: $fntfamily;
    }

    button {
        display: block;
        position: relative;
        top: 40px;
        font-size: 18px;
        height: 35px;
        padding-bottom: 3px;
        width: 85px;
        // padding-left: 5px 5px 5px 5px;
        // padding: 0px 5px;
        font-family: $fntfamily;
        font-weight: 600;
        border-radius: 3px;
        border: 3px solid $txtcolor;
        background-color: $bgcolor;
        color: $txtcolor;
        outline: none;
        cursor: pointer;

    }
    p {
        margin-top: 60px;
        color: $impcolor;
        font-size: 17px;
        font-weight: 600;
    }
}
