$bgcolor: #F6FAE7;
$txtcolor: #FF4900;
$impcolor: #933600;
$loop: zip($txtcolor #14CC46 #40C0DD #9D7C12 #9D121E #914F9D, 1 2 3 4 5 6);

$fntfamily: 'Open Sans', sans-serif;

// REMEMBER FONT POSSIBILITY: PT SANS (HAML)

// BASE DESKTOP SITE
*{
    margin: 0;
    padding: 0;
}

html {
    padding: 20px 80px 10px 80px;
    min-width: 650px;
    min-height: 530px;

}

body {
    height: 100%;
    width: 100%;
    font-family: $fntfamily;
    min-width: 650px;
    min-height: 530px;
}

html, body{
    background-color: $bgcolor;
}

#title {
    color: #933600;
    font-size: 40px;
    font-family: $fntfamily;
    font-weight: 700;
    float: left;
}

#header {
    height: 100px;
    width: 100%;
}

#main {
    height: calc(100% - 30px - 100px - 10px);
    /*window height - margin-top - margin-bottom - header height - padding*/
    width: 100%;
    position: relative;
}

#framer {
    z-index: 10;
    // Framer goes around container. Framer's background results in the framed-photo-style border around container
    float: left;
    width: 0px;
    height: 0px;
    // width, height are defined in js based on main.width, main.height
    background-image:   linear-gradient(to bottom right, $txtcolor, $txtcolor 11.1%, transparent 11.1%, transparent),
                        linear-gradient(to top left, $txtcolor, $txtcolor 11.1%, transparent 11.1%, transparent);
    background-size: calc(0.826 * 100%) calc(0.826 * 100%);
    background-position: top left, bottom right;
}

#container {
    z-index: 1;
    height: calc(100% - 8px);
    width: calc(100% - 8px);
    left: 4;
    top: 4;
    position: relative;
    background-color: $bgcolor;
    cursor: pointer;
}

#menu li{
    float: right;
    color: $txtcolor;
    font-size: 18px;
    font-family: $fntfamily;
    font-weight: 600;
    margin-top: 20px;
    margin-left: 24px;
    list-style: none;

    div{
        position: relative;
        height: 7px;
        border-radius: 7px;
        top: 10px;
        background-color: transparent;
        cursor: default;
        -webkit-transition: top 0.08s, background-color 0.08s;
        -webkit-transition-timing-function: linear;
    }

    p { cursor: pointer; }

    p:hover{ color: #FA7641; }

    p:hover + div {
        // The div fades in a few pixels under the name, then rises to underline it
        // I need the important or the js will overrule it once its changed and the js css is embedded
        top: 3px !important;
        background-color: $txtcolor !important;
    }
}

#bars3 {
    /*a scaled settings size of 7 wide, 6 tall looks very attractive*/
    /* Exactly equal spacings and fillings for bars*/
    // Only for mobile version
    top: 7px;
    height: 42px;
    width: 40px;
    position:relative;
    background-image: linear-gradient(transparent, transparent 50%, #362F0B 33%, #362F0B 50%);
    background-size: 12px 12px;
    float: right;
}



// BASE SETTINGS
#settings {
    float: right;
    height: 100%;
    padding-top: 30px;
    opacity: 1;
    -webkit-transition: opacity 0.15s;
    -webkit-transition-timing-function: linear;
}


// MANUAL
@mixin fuck_sliders{
    // Sliders are fucking annoying sometimes
    -webkit-appearance: none !important;
    appearance: none !important;
    -webkit-user-select: none !important;
    outline: none !important;
}

#manual {
    p {
        color: $impcolor;
        font-size: 18px;
    }


    div{
        width: 100%;
        height: calc(13%);
        clear: both;

        p {
            float: left;
            font-family: $fntfamily;
            font-size: 20px;
            font-weight: bold;
            margin-top: -6px;
            color: $impcolor;
        }

        .bar {
            @include fuck_sliders;
            width: calc(80% - 50px);
        	height: 15px;
            background-color: $txtcolor;
            height: 15px;
            border-radius: 5px;
            float: right;
        }

        .bar::-webkit-slider-thumb {
            @include fuck_sliders;
        	position: relative;
        	width: 18px;
        	height: 30px;
            border: 3px solid $bgcolor;
            border-radius: 5px;
        	cursor: pointer;
            shadow: none;
        }
    }

    //Loops through and assigns each bar and output its correct color
    @each $color, $num in $loop{
        div:nth-child(#{$num}) {
            .bar{ background-color: $color; }
            .bar::-webkit-slider-thumb {background-color: $color; }
            output { color: $color; }
        }
    }

    output {
        float: right;
        position: relative;
        bottom: 5px;
        text-align: right;
        width: 50px;
        font-weight: 600;
        font-size: 18px;
    }
}

// ANIMATION (MAKE THIS BETTER, SASSTEAL THE CODE FROM MANUAL)
#animation {
    p {
        color: $impcolor;
        font-size: 16px;
    }


    div{
        width: 100%;
        height: calc(13%);
        clear: both;

        p {
            float: left;
            font-family: $fntfamily;
            font-size: 20px;
            font-weight: bold;
            margin-top: -6px;
            color: $impcolor;
        }

        .bar {
            @include fuck_sliders;
            width: calc(80% - 45px);
            height: 15px;
            background-color: $txtcolor;
            border-radius: 5px;
            float: right;
        }

        .bar::-webkit-slider-thumb {
            @include fuck_sliders;
            position: relative;
            width: 18px;
            height: 30px;
            border: 3px solid $bgcolor;
            border-radius: 5px;
            cursor: pointer;
            shadow: none;
        }
    }

    //Loops through and assigns each bar and output its correct color
    @each $color, $num in $loop{
        //have to have the +1 because there's a script tag there
        div:nth-child(#{$num}) {
            .bar{ background-color: $color; }
            .bar::-webkit-slider-thumb {background-color: $color; }
            .bar-io { color: $color; border-color: $color}
        }
    }

    .bar-io {
        @include fuck_sliders;
        background-color: $bgcolor;
        // color: $txtcolor;

        border: 2px dashed;
        float: right;
        position: relative;

        bottom: 5px;
        text-align: right;
        height: 30px;
        width: 45px;
        margin-left: 10px;
        padding-right: 5px;
        font-weight: 600;
        font-size: 18px;
    }
}

// ABOUT
#about {
    h2 {
        color: $txtcolor;
        margin-top: 30px;
    }

    p {
    // background-color: red;
        color: $impcolor;
        font-size: 16px;
        font-weight: 600;
    }
}

// SOON
#soon {
    h1 {
        color: $txtcolor;
        margin-left: 20%;
        margin-top: 20%;
    }
}
