*{
    margin: 0;
    padding: 0;
}

html {
    padding: 20px 10% 20px 10%;
}

body {
    height: 100%;
    width: 100%;
}

html, body{
    background-color: #D9D2B8;
}

#title {
    color: #362F0B;
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    float: left;
}

#header {
    height: 100px;
    width: 100%;
}

#main {
    margin-top: 30px;
    height: calc(100% - 30px - 30px - 100px - 20px);
    /*window height - margin-top - margin-bottom - header height - padding*/
    width: 100%;
    position: relative;
}

#framer {
    height: 100%;
    /*width: Defined by javascript*/
    background-image:   linear-gradient(to bottom right, black, black 11.1%, transparent 11.1%, transparent),
                        linear-gradient(to top left, black, black 11.1%, transparent 11.1%, transparent);
    background-size: calc(0.825 * 100%) calc(0.825 * 100%);
    background-position: top left, bottom right;
    /*border: 3px solid red;*/
}

#container {
    height: calc(100% - 6px);
    width: calc(100% - 6px);
    left: 3;
    top: 3;
    /*overflow: visible;*/
    position: relative;
    background-color: #D9D2B8;
    /*background-color: transparent;*/
    /*border: 3px solid blue;*/
    /*-webkit-transition-property: all;
    -webkit-transition-duration: 2s;
    -webkit-transition-timing-function: linear;*/
}

#settings {
    /*a scaled settings size of 7 wide, 6 tall looks very attractive*/
    /* Exactly equal spacings and fillings for bars*/

    top: 7px;
    height: 42px;
    width: 40px;
    position:relative;
    background-image: linear-gradient(transparent, transparent 50%, #362F0B 33%, #362F0B 50%);
    background-size: 12px 12px;
    float: right;
}
